doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
  body
    block content
